<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SAGE</title>
        <link rel="icon" href="static\images\logo.png" type="image/png">
        <link rel="stylesheet" href="static\home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    </head>

    <body>

        <nav>

            <ul>
                <li><a href="{{ url_for('login') }}" class="btn btn-secondary">Login</a></li>
                <li><a href="{{ url_for('register') }}" class="btn btn-primary">Sign Up</a></li>
            </ul>

        </nav>

        <div class="home-container">

            <br>
            <h1>HEALTH SAGE</h1>
            <br>
            <p>KNOWLEDGE YOU CAN TRUST.</p>

        </div>
        
    </body>
    
</html>