<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="icon" href="static\images\logo.png" type="image/png">
        <link rel="stylesheet" href="static\login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    </head>

    <body>

        <div class="login-container">

            <h1>Login</h1>

            <form method="POST" autocomplete="off">
                {{ form.hidden_tag() }}
                {{ form.email }}
                {{ form.password }}
                {{ form.submit }}
            </form>

            <div class="signup-link">

                <p>Don't have an account?
                    <a href="{{ url_for('register') }}">Sign up</a>
                </p>

                <br>

                <p>Return to 
                    <a href="{{ url_for('home') }}">Home</a>
                </p>

            </div>
            
        </div>

    </body>

</html>
